h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Arial Narrow';
    font-weight: 1000;
    color:#B71375;
    background-color: #F79540; height: 75px;
}
p {
    color: #B71375;
}

body {
    background-color: aqua;
}
